body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
    /* add this for the boostrap nav-bar */
    padding-top: 60px;     
}

.container { 
    background-color: rgb(17, 17, 17);
    opacity: 0.8;
    color: #fff;
    padding: 40px;
}

.white-font {
    color: #fff;
}

.top-20 {
    margin-top: 20px;
}

.top-100 {
    margin-top: 100px;
}

.bottom-20 {
    margin-bottom: 20px;
}

.left-20 {
    margin-left: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}