# back-up files
*.bak

# Dependency directories
node_modules

# Logs
src/dapp/config.json
src/server/config.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# webpack output
prod